# Binary outputs
/bin/
main
app

# Hot Reload (Air)
/tmp/

# OS specific files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.go.work

# Configurations and Secrets
# Chỉ ignore file chứa secret, giữ lại folder để chứa template
**/.env
**/*.local.toml

# Dependencies
vendor/

# Others
techBook/